@charset "utf-8";

@import url("reset.css");
@import url("layout.css");

.page{
    /*background:url('../images/bg.jpg') repeat-y center top;*/
    background-color: #000000;

}
#header{
    background-color: #3651ed;
}
#footer{
    background-color: #72e151;
}
#container{
    background-color: #caa6cc;
}
#main{
    background-color:#fff;
}
#aside_left,#aside_right{
    background-color:#EFEFEF;
}